<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 
    <div class ="newgame field">
    <%= f.select :player1, options_from_collection_for_select(User.all, "id", "name"), placeholder: "play against"%> <br>
    </div>
    <div class ="newgame field">
  <%= f.text_field :dimension, placeholder: "dimension"%> <br>
     </div>
  
  <div class="actions2">
    <%= f.submit %>
  </div>
<% end %>
